body {
    font-family: verdana;
}

#request {
    font-size: 25px;
    margin: 12px auto;
}

#request-content {
    display: inline;
    margin-right: 20px;
}

#prob-form {
    width: 1225px;
    margin: 0 auto;
}

#samples {
    display: inline;
    margin-right: 20px;
}

#num-samples {
    width: 120px;
}

#opps {
    display: inline;
    margin-right: 20px;
}

#submit-button  {
    display: inline;
}

#result-prob {
    margin-top: 10px;
}

#form {
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1236px;
}

#submit-button {
    margin-top: 10px;
}

#opps input {
    width: 55px;
}

#selector {
    width: 86px;
}

.card, .card-clicked {
    height: 130px;
    width: 85px;
    float: left;
    justify-content: center;
    align-items: center;
    overflow: hidden    
    float: left;
    margin: 5px;
    background-color: #afb123;
    border-radius: 10px;
    position: relative;
    text-align: center;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.card-posess {
    position: absolute;
    font-size: 12px;
    width: 80px;
}

.card img {
    height: 130px;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    margin: 0 auto;
    display: block;
}

.card img:hover {
    height: 130px;
    opacity: 0.8;
    position: absolute;
    top: 0px;
    margin: 0 auto;
    display: block;
}

.card-clicked img {
    height: 130px;
    opacity: 1.0;
    position: absolute;
    top: 0px;
    margin: 0 auto;
    display: block;
}

#cards {
    width: 1236px;
    height: 560px;
    margin: 0 auto;
    background-color: #57b737;
    
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
