body {
    font-family: verdana;
}

.card, .card-clicked {
    height: 9.2vw;
    width: 5.9vw;
    max-width: 85px;
    max-height: 130px;

    position: relative;
    text-align: center;

    margin: 5px;
    background-color: #afb123;
    border-radius: 10px;
    text-align: center;
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.card-posess {
    position: absolute;
    top: -3px;
    z-index: 10;
    font-size: 0.9rem;
    width: 100%;
}

.card img {
    height: 100%;
    opacity: 0.5;
}

.card img:hover {
    opacity: 0.8;
}

.card-clicked img {
    height: 100%;
    opacity: 1.0;
}

.cards-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#cards-desktop {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    max-width: 1240px;
    background-color: #57b737;
    
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

#cards-mobile {
    display: none;
    flex-wrap: wrap;

    margin: 0 auto;
    max-width: 400px;
    background-color: #57b737;
    
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

@media (max-width: 1379.98px) { 
    .card-posess {
        font-size: 0.8rem;
    }
}

@media (max-width: 1299.98px) { 
    .card-posess {
        font-size: 0.7rem;
    }
}

@media (max-width: 1279.98px) {
    #cards-desktop {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 1059.98px) { 
    .card-posess {
        font-size: 0.6rem;
    }
}

@media (max-width: 899.98px) { 
    .card-posess {
        font-size: 0.5rem;
    }
}

@media (max-width: 767.98px) {
    #cards-desktop {display: none;}
    #cards-mobile {display: flex;}
    .card, .card-clicked {
        height: 27.5vw;
        width: 17.8vw;
    }
    .card-posess {
        font-size: 0.8rem;
    }
}

@media (max-width: 439.98px) {
    #cards-mobile {
        margin-left: 20px;
        margin-right: 20px;
    }
    .card-posess {
        font-size: 0.7rem;
    }
}

@media (max-width: 372.98px) {
    .card-posess {
        font-size: 0.6rem;
    }
}